<h3> <%= bookshelf.escape("title") %> </h3>
<p> <%= bookshelf.escape("description")%> </p>

<table border="solid">
	<tr>
		<th></th>
		<th> Title </th>
		<th> Author </th>
		<th> Publication Date </th>
		<th> Page Count </th>
		<th> Remove </th>
	</tr>
	<% bookshelf.books().each(function (book) { %>
		<tr>
			<td> <img src="http://covers.openlibrary.org/b/isbn/<%= book.escape('isbn10')%>-S.jpg"> </td>
			<td><a href = '#/books/<%= book.id%>'> <%= book.escape('title') %> </a></td>

			<td><%= book.escape("author") %></td>
			<td><%= book.escape("published_date") %></td>
			<td><%= book.escape("page_count") %></td>
			<td><a class = 'removeFromShelf' data-id="<%= book.id%>"> XXX </a></td>
		</tr>
	<% }); %>
</table>

<br>
<br>

<form id="loadById">
	<p> Add a Book! </p>
	<label>Add book with ID of:
		<input type = "text" name="bookIsbn">
	</label>
	<input type = "submit">
</form>

<br>

<a href="/#/bookshelves/<%=bookshelf.id%>/edit">Edit this bookshelf</a><br>